body {background-color: rgba(89, 154, 225, 0.518);
direction:rtl
}
input {
    background-color: antiquewhite;
}
h1{
    text-align: center;
    font-size: 32px;
    font-weight: 100;
}
a{
color: rgb(5, 85, 5);
border: 3px black solid;
text-align: center;

}
#privatedetailslink {
    background-color: rgb(241, 98, 215);
}
#newslink {
    background-color: rgb(231, 126, 226);

}
#videoslink{
    background-color: rgb(238, 159, 233);
}
#contactlink{
    background-color: rgb(228, 193, 218);
}
.links{
    display: block;
    margin: auto;
    margin-bottom: 20px;
    width: 300px;
    padding: 2px;
}
#img-pd{
    display: block;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    margin-bottom: 20px;
}
.backtohm{
    background-color: rgb(134, 166, 247);
    color: black;
    padding: 3px;
    display: block;
    margin-top: 70px;
    width: 95px;
}
table{
    direction: ltr;
    border: 1px black solid;
    background-color: rgb(126, 197, 247);
    margin: auto;

}
td, th {
    border: 1px black solid;
    padding: 5px;
}
#harplayer{
    width: 200px
}
#squidgimg{
    width: 200px;
}
.linksvideop{
    background-color: rgb(129, 161, 227);
    border: 3.5px rgb(27, 152, 229) solid;
}
#searchtext{
    background-color:rgb(174, 174, 246);
    display: block;
    margin-bottom: 12px;
    margin-top: 15px;
    padding: 20px;
    border-color: rgb(144, 112, 174);
    text-align: center;
}
#searchyt{
    background-color: rgb(189, 135, 255);
    margin-bottom: 70px;
    text-align: center;
    color: rgb(19, 22, 24);
    width: 65px;
}
h3{
    margin: auto;
    margin-top: 30px;
    font-size: larger;
    font-weight: 400px;
}
::placeholder{
    font-weight: bold;
    color: black;
}
#newsImg{
    width: 300px;
    margin-bottom: 70px;
}
.newslinks{
    background-color: rgb(176, 199, 250);
    display: block;
    margin-bottom: 10px;
    width: 80px;
}
#contactform{
    direction: ltr;
    text-align: center;
    background-color: rgb(114, 232, 171);
    padding: 30px;
    margin-bottom: 70px;

}
.formfield{
    background-color: rgb(118, 233, 220);
}
#submitf{
    background-color: rgb(22, 159, 33);
    color: aliceblue;
}
.pd-text{
    background-color: rgb(127, 210, 255);
    padding: 5px;
    text-align: center;
    
}
.gender-pd{
    text-align: center;
}